## Import libraries

In [1]:
import pandas as pd

## Uploading dataset

In [2]:
order_report = pd.read_csv('Order Report.csv')

In [3]:
sku_master = pd.read_csv('SKU Master.csv')

In [4]:
pincode_mapping = pd.read_csv('pincodes.csv')

In [5]:
courier_invoice = pd.read_csv('Invoice.csv')

In [6]:
courier_company_rates = pd.read_csv('Courier Company - Rates.csv')

In [7]:
print("Order Report:")
display(order_report.head())

Order Report:

   ExternOrderNo            SKU  Order Qty  Unnamed: 3  Unnamed: 4
0     2001827036  8904223818706        1.0         NaN         NaN
1     2001827036  8904223819093        1.0         NaN         NaN
2     2001827036  8904223819109        1.0         NaN         NaN
3     2001827036  8904223818430        1.0         NaN         NaN
4     2001827036  8904223819277        1.0         NaN         NaN

In [8]:
print("SKU Master:")
display(sku_master.head())

SKU Master:

             SKU  Weight (g)  Unnamed: 2  Unnamed: 3  Unnamed: 4
0  8904223815682         210         NaN         NaN         NaN
1  8904223815859         165         NaN         NaN         NaN
2  8904223815866         113         NaN         NaN         NaN
3  8904223815873          65         NaN         NaN         NaN
4  8904223816214         120         NaN         NaN         NaN

In [9]:
print("Pincodes:")
display(pincode_mapping.head())

Pincodes:

   Warehouse Pincode  Customer Pincode Zone  Unnamed: 3  Unnamed: 4
0             121003            507101    d         NaN         NaN
1             121003            486886    d         NaN         NaN
2             121003            532484    d         NaN         NaN
3             121003            143001    b         NaN         NaN
4             121003            515591    d         NaN         NaN

In [10]:
print("Invoice:")
display(courier_invoice.head())

Invoice:

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4

In [11]:
print("Courier Company rates:")
display(courier_company_rates.head())

Courier Company rates:

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

## Check if data have missing values

In [12]:
print("\nMissing values in Website Order Report:")
order_report.isnull().sum()

Missing values in Website Order Report:

ExternOrderNo      0
SKU                0
Order Qty          0
Unnamed: 3       400
Unnamed: 4       400
dtype: int64

In [13]:
print("\nMissing values in SKU Master:")
sku_master.isnull().sum()

Missing values in SKU Master:

SKU            0
Weight (g)     0
Unnamed: 2    66
Unnamed: 3    66
Unnamed: 4    66
dtype: int64

In [14]:
print("\nMissing values in Pincode Mapping:")
pincode_mapping.isnull().sum()

Missing values in Pincode Mapping:

Warehouse Pincode      0
Customer Pincode       0
Zone                   0
Unnamed: 3           124
Unnamed: 4           124
dtype: int64

In [15]:
print("\nMissing values in Courier Invoice:")
courier_invoice.isnull().sum()

Missing values in Courier Invoice:

AWB Code                0
Order ID                0
Charged Weight          0
Warehouse Pincode       0
Customer Pincode        0
Zone                    0
Type of Shipment        0
Billing Amount (Rs.)    0
dtype: int64

In [16]:
print("\nMissing values in courier company rates:")
courier_company_rates.isnull().sum()

Missing values in courier company rates:

fwd_a_fixed         0
fwd_a_additional    0
fwd_b_fixed         0
fwd_b_additional    0
fwd_c_fixed         0
fwd_c_additional    0
fwd_d_fixed         0
fwd_d_additional    0
fwd_e_fixed         0
fwd_e_additional    0
rto_a_fixed         0
rto_a_additional    0
rto_b_fixed         0
rto_b_additional    0
rto_c_fixed         0
rto_c_additional    0
rto_d_fixed         0
rto_d_additional    0
rto_e_fixed         0
rto_e_additional    0
dtype: int64

## Cleaning the data

In [17]:
order_report = order_report.drop(columns=['Unnamed: 3', 'Unnamed: 4'])

In [18]:
sku_master = sku_master.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'])

In [19]:
pincode_mapping = pincode_mapping.drop(columns=['Unnamed: 3', 'Unnamed: 4'])

## Merging the data

In [20]:
combine_data = pd.merge(order_report, sku_master, on='SKU')
display(combine_data.head())

   ExternOrderNo            SKU  Order Qty  Weight (g)
0     2001827036  8904223818706        1.0         127
1     2001821995  8904223818706        1.0         127
2     2001819252  8904223818706        1.0         127
3     2001816996  8904223818706        1.0         127
4     2001814580  8904223818706        1.0         127

In [21]:
combine_data = combine_data.rename(columns={'ExternOrderNo': 'Order ID'})

## Merging the courier invoice and pincode mapping dataset:

In [22]:
merge_courier = pincode_mapping.drop_duplicates(subset=['Customer Pincode'])
courier_abc= courier_invoice[['Order ID', 'Customer Pincode','Type of Shipment']]
pincodes= courier_abc.merge(merge_courier,on='Customer Pincode')
display(pincodes.head())

     Order ID  Customer Pincode Type of Shipment  Warehouse Pincode Zone
0  2001806232            507101  Forward charges             121003    d
1  2001806273            486886  Forward charges             121003    d
2  2001806408            532484  Forward charges             121003    d
3  2001806458            143001  Forward charges             121003    b
4  2001807012            515591  Forward charges             121003    d

In [23]:
merge_data = combine_data.merge(pincodes, on='Order ID')

## Calculating the weight

In [24]:
merge_data['Weight Band (Kgs)'] = merge_data['Weight (g)'] / 1000

In [25]:
def weight_band(weight):
    i = round(weight % 1, 1)
    if i == 0.0:
        return weight
    elif i > 0.5:
        return int(weight) + 1.0
    else:
        return int(weight) + 0.5

merge_data['Weight Band (KG)'] = merge_data['Weight Band (Kgs)'].apply(weight_band)
courier_invoice['Weight Band Charged by Courier Company']=(courier_invoice['Charged Weight']).apply(weight_band)

In [26]:
courier_invoice = courier_invoice.rename(columns={'Zone': 'Delivery Zone Charged by Courier Company'})
merge_data = merge_data.rename(columns={'Zone': 'Delivery Zone As Per ABC'})
merge_data = merge_data.rename(columns={'Weight Band (KG)': 'Weight Band As Per ABC'})

In [27]:
total_expected_charge = []

for index, row in merge_data.iterrows():
    # Extracting relevant information from the current row
    delivery_zone = row['Delivery Zone As Per ABC']
    weight_band = row['Weight Band As Per ABC']
    shipment_type = row['Type of Shipment']

    # Calculating charges based on delivery zone and shipment type
    fwd_category = 'fwd_' + delivery_zone
    fwd_fixed = courier_company_rates.at[0, fwd_category + '_fixed']
    fwd_additional = courier_company_rates.at[0, fwd_category + '_additional']

    rto_category = 'rto_' + delivery_zone
    rto_fixed = courier_company_rates.at[0, rto_category + '_fixed']
    rto_additional = courier_company_rates.at[0, rto_category + '_additional']

    additional_weight = max(0, (weight_band - 0.5) / 0.5)

    if shipment_type == 'Forward charges':
        total_charge = fwd_fixed + additional_weight * fwd_additional
    elif shipment_type == 'Forward and RTO charges':
        total_charge = fwd_fixed + additional_weight * (fwd_additional + rto_additional)
    else:
        total_charge = 0

    # Adding the calculated charge to the DataFrame
    merge_data.at[index, 'Expected Charge as per ABC'] = total_charge

display(merge_data.head())

,Order ID,SKU,Order Qty,Weight (g),Customer Pincode,Type of Shipment,Warehouse Pincode,Delivery Zone As Per ABC,Weight Band (Kgs),Weight Band As Per ABC,Expected Charge as per ABC
0,2001827036,8904223818706,1.0,127,173213,Forward charges,121003,e,0.127,0.5,56.6
1,2001827036,8904223819093,1.0,150,173213,Forward charges,121003,e,0.150,0.5,56.6
2,2001827036,8904223819109,1.0,100,173213,Forward charges,121003,e,0.100,0.5,56.6
3,2001827036,8904223818430,1.0,165,173213,Forward charges,121003,e,0.165,0.5,56.6
4,2001827036,8904223819277,1.0,350,173213,Forward charges,121003,e,0.350,0.5,56.6

In [28]:
merger = merge_data.merge(courier_invoice, on='Order ID')
display(merger.head())

,Order ID,SKU,Order Qty,Weight (g),Customer Pincode_x,Type of Shipment_x,Warehouse Pincode_x,Delivery Zone As Per ABC,Weight Band (Kgs),Weight Band As Per ABC,Expected Charge as per ABC,AWB Code,Charged Weight,Warehouse Pincode_y,Customer Pincode_y,Delivery Zone Charged by Courier Company,Type of Shipment_y,Billing Amount (Rs.),Weight Band Charged by Courier Company
0,2001827036,8904223818706,1.0,127,173213,Forward charges,121003,e,0.127,0.5,56.6,1091122418320,1.6,121003,173213,b,Forward charges,117.9,2.0
1,2001827036,8904223819093,1.0,150,173213,Forward charges,121003,e,0.150,0.5,56.6,1091122418320,1.6,121003,173213,b,Forward charges,117.9,2.0
2,2001827036,8904223819109,1.0,100,173213,Forward charges,121003,e,0.100,0.5,56.6,1091122418320,1.6,121003,173213,b,Forward charges,117.9,2.0
3,2001827036,8904223818430,1.0,165,173213,Forward charges,121003,e,0.165,0.5,56.6,1091122418320,1.6,121003,173213,b,Forward charges,117.9,2.0
4,2001827036,8904223819277,1.0,350,173213,Forward charges,121003,e,0.350,0.5,56.6,1091122418320,1.6,121003,173213,b,Forward charges,117.9,2.0